In [24]:
#importing the required libraries
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd
import csv
import io

In [22]:
from google.colab import files
uploaded = files.upload()

Saving movie_dataset.csv to movie_dataset.csv

In [25]:
#Reading the CSV File
df = pd.read_csv(io.StringIO(uploaded['movie_dataset.csv'].decode('utf-8')))

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 4803 non-null   int64
 1   budget                4803 non-null   int64
 2   genres                4775 non-null   object
 3   homepage              1712 non-null   object
 4   id                    4803 non-null   int64
 5   keywords              4391 non-null   object
 6   original_language     4803 non-null   object
 7   original_title        4803 non-null   object
 8   overview              4800 non-null   object
 9   popularity            4803 non-null   float64
 10  production_companies  4803 non-null   object
 11  production_countries  4803 non-null   object
 12  release_date          4802 non-null   object
 13  revenue               4803 non-null   int64
 14  runtime               4801 non-null   float64
 15  spoken_languages      4803 non-null   object
 16  status                4803 non-null   object
 17  tagline               3959 non-null   object
 18  title                 4803 non-null   object
 19  vote_average          4803 non-null   float64
 20  vote_count            4803 non-null   int64
 21  cast                  4760 non-null   object
 22  crew                  4803 non-null   object
 23  director              4773 non-null   object
dtypes: float64(3), int64(5), object(16)
memory usage: 900.7+ KB

In [33]:
#get the first 5 rows of the dataframe
df.head()

   index  ...                                  combined_features
0      0  ...  culture clash future space war space colony so...
1      1  ...  ocean drug abuse exotic island east india trad...
2      2  ...  spy based on novel secret agent sequel mi6 Dan...
3      3  ...  dc comics crime fighter terrorist secret ident...
4      4  ...  based on novel mars medallion space travel pri...

[5 rows x 25 columns]

In [34]:
df.columns

Index(['index', 'budget', 'genres', 'homepage', 'id', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'cast', 'crew', 'director',
       'combined_features'],
      dtype='object')

In [35]:
##Select Features
features = ['keywords','cast','genres','director']

In [36]:
for feature in features:
	df[feature] = df[feature].fillna('') #filling all NaNs with blank string

#combining the values of these columns into a single string.
def combine_features(row):
		return row['keywords'] +" "+row['cast']+" "+row["genres"]+" "+row["director"]

In [37]:
##Create a column in DF which combines all selected features
df["combined_features"] = df.apply(combine_features,axis=1)#applying combined_features() method over each rows of dataframe and storing the combined string in "combined_features" column
print ("Combined Features:", df["combined_features"].head())

Combined Features: 0    culture clash future space war space colony so...
1    ocean drug abuse exotic island east india trad...
2    spy based on novel secret agent sequel mi6 Dan...
3    dc comics crime fighter terrorist secret ident...
4    based on novel mars medallion space travel pri...
Name: combined_features, dtype: object

In [54]:
##Step 4: Create count matrix from this new combined column
cv = CountVectorizer()

count_matrix = cv.fit_transform(df["combined_features"])
count_matrix.toarray()[0:7]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [56]:
##Step 5: Compute the Cosine Similarity based on the count_matrix
cosine_sim = cosine_similarity(count_matrix) 
cosine_sim[0:7]

array([[1.        , 0.10540926, 0.12038585, ..., 0.        , 0.        ,
        0.        ],
       [0.10540926, 1.        , 0.0761387 , ..., 0.03651484, 0.        ,
        0.        ],
       [0.12038585, 0.0761387 , 1.        , ..., 0.        , 0.11145564,
        0.        ],
       ...,
       [0.23094011, 0.07302967, 0.20851441, ..., 0.        , 0.        ,
        0.        ],
       [0.19245009, 0.25560386, 0.12510865, ..., 0.04      , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [41]:
###### helper functions. Use them when needed #######
def get_title_from_index(index):
    return df[df.index == index]["title"].values[0]
def get_index_from_title(title):
    return df[df.title == title]["index"].values[0]

In [57]:
#movie which user likes based on this we will recommend back the similar movies
movie_user_likes = "Avatar"
#Get index of this (Avatar) movie from its title
movie_index = get_index_from_title(movie_user_likes)
movie_index

0

In [58]:
#accessing the row corresponding to given movie to find all the similarity scores for that movie and then enumerating over it
#a tuple of movie index and similarity score will be created
similar_movies =  list(enumerate(cosine_sim[movie_index]))
similar_movies[0:7]

[(0, 1.0000000000000004),
 (1, 0.10540925533894599),
 (2, 0.12038585308576921),
 (3, 0.03774256780481986),
 (4, 0.23094010767585033),
 (5, 0.1924500897298753),
 (6, 0.0)]

In [61]:
## Step 7: Get a list of similar movies in descending order of similarity score
sorted_similar_movies = sorted(similar_movies,key=lambda x:x[1],reverse=True)[1:]

In [64]:
## Step 8: Print titles of first 10 movies which is similar to the movie Avatar
i=0
print("Top 10 similar movies to "+movie_user_likes+" are:\n")
for movie in sorted_similar_movies:
		print (get_title_from_index(movie[0]))
		i=i+1
		if i>10:
			break

Top 10 similar movies to Avatar are:

Guardians of the Galaxy
Aliens
Star Wars: Clone Wars: Volume 1
Star Trek Into Darkness
Star Trek Beyond
Alien
Lockout
Jason X
The Helix... Loaded
Moonraker
Planet of the Apes